body {
  margin: 0; /* a margo nulla */
  color: #59A27A; /* rgb(200, 0, 50) */
  font-family: 'Merriweather', serif;
}

img {
  width: 100%; /* a kep kitolti az oldalt szelessegeben, ahogy huzogatom a szelesseget a bongeszonek, ugy valtozik */
}

article {
  max-width: 668px; /*nincs space*/
  margin-left:auto;
  margin-top: auto;
  margin-right: auto; /*margin: 0 auto; ez ilyen allinone*/
}

h1,
h2 {
  text-align: center;
}

h1{
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 900;
}

h2{
  color: #666666;
  font-weight: normal;
  margin-top: 0;
  font-size: 24px; /*alapvetoen beturendi sorrendet illik tartani, de ez legyen a legkisebb bajunk*/
  font-family: 'Lato', sans-serif;
}
p{
  font-size: 21px;
  line-height: 33px;
}
